
<p>
  <strong>名前:</strong>
  <% @user = User.find_by(id:@reservation.user_id)%>
  <%= @user.name %>
</p>

<p>
  <strong>予約開始時刻:</strong>
  <%= @reservation.start_time %>
</p>

<p>
  <strong>予約終了時刻:</strong>
  <%= @reservation.end_time %>
</p>

<%= link_to '編集', edit_reservation_path(@reservation) %> |
<%= link_to '予約', reservations_path %>
